.red-text {
    color:red;
}

.blue-text {
    color:blue;
}

.orange-text {
    color: orange;
}

.green-text {
    color:green;
}

.yellow-text {
    color:yellow;
}

h2 {
    font-weight: normal;
}

img {
    max-width: 200px;
    max-height: 200px;
}